<link rel="stylesheet" type="text/css" href="css/cadastroCliente.css" />

<ion-pane class="gprag-panel">
  <ion-content class="content-interno">

  <header class="gprag-header">
    <button id="botao-voltar" class="button button-block button-balanced" ng-click="ctrl.voltar()" >
      <b>Voltar</b>
    </button>
  </header>

  <div>
    <img src="img/sucesso.png" width="150" height="150" class="center-block img-center" />
  </div>

  <label class="item msg-sucesso-centro">
    Operação realizada com sucesso.
  </label>
  
  </ion-content>
</ion-pane>
