#listagem-trabalhos{
  color: white;
  font-size: 1.2em;
}

.trabalho-list{
  width: 100%;
  padding: 10px 0 10px 5px;
  display: inline-block;
  border-bottom: 1px solid green;
}
.trabalho-item{
  width: 80%;
  display: inline-block;
  padding-bottom: 10px;
}
.trabalho-edit{
  float: right;
  display: inline-table;
}
